.life-field {
  position: relative;
}

.canvas-wrapper {
  margin-top: 16px;
}
#scroll-container {
  margin-top: 16px;
  position: relative;
  width: 1100px;
  height: 600px;
  overflow: auto;
}

#field-area {}
#canvas {
  /*position: absolute;*/
}

.field-controls {
  display: flex;
  gap: 16px;
}
.field-inputs {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.life-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.life-controls button {
  height: 100%;
}
